{% extends "::layout.html.twig" %}
{% block title %}Join Some Tradeland{% endblock %}

{% block content %}
    <div class="col-sm-8 invite_friends members_page">
        <h2 class="section_title">{#Join Some Tradeland#}Invite Friends To Connect</h2>

        <form action="#" method="post">
            <label for="search">Network</label>
            <input type="search" id="search" placeholder="Search">
            <input type="submit">
        </form>
        {#<div class="row network_grid">#}
            {#<div class="col-sm-6">#}
                {#<div class="profile-main-box">#}
                    {#<div class="profile_image">#}
                        {#<div class="image">#}
                            {#<img src="images/pro-img.png" alt='profile img'>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="profile_buttons">#}
                        {#<div class="profile_info">#}
                            {#<h4 class="heading">First Name ⁄ Last Name</h4>#}
                            {#<ul>#}
                                {#<li class="position"><a href="#">Title ⁄ Position</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a class="connect" href="#">#}
                                    {#<span>Connect</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a class="unfriend" href="#">#}
                                    {#<span>Unfriend</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-sm-6">#}
                {#<div class="profile-main-box">#}
                    {#<div class="profile_image">#}
                        {#<div class="image">#}
                            {#<img src="images/pro-img.png" alt='profile img'>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="profile_buttons">#}
                        {#<div class="profile_info">#}
                            {#<h4 class="heading">First Name ⁄ Last Name</h4>#}
                            {#<ul>#}
                                {#<li class="position"><a href="#">Title ⁄ Position</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a class="connect" href="#">#}
                                    {#<span>Connect</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a class="unfriend" href="#">#}
                                    {#<span>Unfriend</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-sm-6">#}
                {#<div class="profile-main-box">#}
                    {#<div class="profile_image">#}
                        {#<div class="image">#}
                            {#<img src="images/pro-img.png" alt='profile img'>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="profile_buttons">#}
                        {#<div class="profile_info">#}
                            {#<h4 class="heading">First Name ⁄ Last Name</h4>#}
                            {#<ul>#}
                                {#<li class="position"><a href="#">Title ⁄ Position</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a class="connect" href="#">#}
                                    {#<span>Connect</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a class="unfriend" href="#">#}
                                    {#<span>Unfriend</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-sm-6">#}
                {#<div class="profile-main-box">#}
                    {#<div class="profile_image">#}
                        {#<div class="image">#}
                            {#<img src="images/pro-img.png" alt='profile img'>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="profile_buttons">#}
                        {#<div class="profile_info">#}
                            {#<h4 class="heading">First Name ⁄ Last Name</h4>#}
                            {#<ul>#}
                                {#<li class="position"><a href="#">Title ⁄ Position</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a class="connect" href="#">#}
                                    {#<span>Connect</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a class="unfriend" href="#">#}
                                    {#<span>Unfriend</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-sm-6">#}
                {#<div class="profile-main-box">#}
                    {#<div class="profile_image">#}
                        {#<div class="image">#}
                            {#<img src="images/pro-img.png" alt='profile img'>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="profile_buttons">#}
                        {#<div class="profile_info">#}
                            {#<h4 class="heading">First Name ⁄ Last Name</h4>#}
                            {#<ul>#}
                                {#<li class="position"><a href="#">Title ⁄ Position</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a class="connect" href="#">#}
                                    {#<span>Connect</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a class="unfriend" href="#">#}
                                    {#<span>Unfriend</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-sm-6">#}
                {#<div class="profile-main-box">#}
                    {#<div class="profile_image">#}
                        {#<div class="image">#}
                            {#<img src="images/pro-img.png" alt='profile img'>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="profile_buttons">#}
                        {#<div class="profile_info">#}
                            {#<h4 class="heading">First Name ⁄ Last Name</h4>#}
                            {#<ul>#}
                                {#<li class="position"><a href="#">Title ⁄ Position</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                        {#<ul>#}
                            {#<li>#}
                                {#<a class="connect" href="#">#}
                                    {#<span>Connect</span>#}
                                {#</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a class="unfriend" href="#">#}
                                    {#<span>Unfriend</span>#}
                                {#</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        <style>
            .modal-content .modal-body .glyphicon {
                padding: 6px;
                position: absolute;
                bottom: 10px;
                top: auto;
                right: -24px;
                z-index: 999999;
                cursor: pointer;
            }
            .modal-body {
                overflow: hidden;
            }
        </style>
        <div class="use_your_emails">
            <span>Use Your Emails: </span>
            <ul class="social-media">
                <li><a href="{{ path('contacts_show', {provider: 'yahoo'}) }}"><i class="fa fa-yahoo fa-2x" title="Yahoo" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'hotmail'}) }}"><i class="fa fa-envelope fa-2x" title="Hotmail" aria-hidden="true"></i></a></li>
                <li><a href="#"  data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle fa-2x" title="add" aria-hidden="true"></i></a></li>
            </ul>

        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add emails</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ path('invite_email') }}" method="POST">
                        <div class="col-md-4">
                            <label class="control-label">Type email adresses below</label>
                        </div>

                        <div class="col-md-7">
                            <input class="form-control" required="required" name="email[]" type="email">
                            <div class="glyphicon glyphicon-plus add_email"></div>
                        </div>
                        </form>
                        {#{{ render(controller('AppBundle:Invite:Email')) }}#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Send Invitations</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="import_your_friends">
            <span>Import Your Friends: </span>
            <ul class="social-media">
                <li><a href="{{ path('contacts_show', {provider: 'facebook'}) }}"><i class="fa fa-facebook-official fa-2x" title="facebook" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'google'}) }}"><i class="fa fa-google-plus fa-2x" title="google" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'twitter'}) }}"><i class="fa fa-twitter fa-2x" title="twitter" aria-hidden="true"></i></a></li>
            {#    <li><a href="{{ path('contacts_show', {provider: 'vkontakte'}) }}"><i class="fa fa-vk fa-2x" title="vkontakte" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'instagram'}) }}"><i class="fa fa-instagram fa-2x" title="instagram" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'pinterest'}) }}"><i class="fa fa-pinterest fa-2x" title="pinterest" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'foursquare'}) }}"><i class="fa fa-foursquare fa-2x" title="foursquare" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'tumblr'}) }}"><i class="fa fa-tumblr fa-2x" title="tumblr" aria-hidden="true"></i></a></li>
                <li><a href="{{ path('contacts_show', {provider: 'flickr'}) }}"><i class="fa fa-flickr fa-2x" title="flickr" aria-hidden="true"></i></a></li>#}
                {#<li><a href="{{ path('contacts_show', {provider: 'odnoklassniki'}) }}"><i class="fa fa-odnoklassniki fa-2x" title="odnoklassniki" aria-hidden="true"></i></a></li>#}
                {#<li><a href="{{ path('contacts_show', {provider: 'wordpress'}) }}"><i class="fa fa-wordpress fa-2x" title="wordpress" aria-hidden="true"></i></a></li>#}
            </ul>

        </div>
    </div>
{% endblock %}

