{% extends "::layout.html.twig" %}
{% block title %}{{ photo.title }}{% endblock %}

{% block content %}

    <div class="colum_block items_list">
        <section class="heading">
            <h2><span>{{ photo.title }}</span></h2>
            <div class="buttons-container">
                <a href="{{ path('photo_index') }}" class="back button">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <span>Back</span>
                </a>
                <a href="{{ path('photo_edit', {id: photo.id}) }}" class="edit button" title="Edit">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span>Edit</span>
                </a>
                <a href="{{ path('photo_new') }}" class="add_item button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <span>Add Photo</span>
                </a>
            </div>
        </section>
        <section class="single-item">
            <div class="image img-wrapper">
                {% if(photo.image != null) %}
                    <img src="{{ asset('bundles/framework/images/photo/' ~ photo.image) }}"
                         alt="{{ photo.title }}"/>
                {% else %}
                    <img src="{{ asset('bundles/framework/images/no-logo.png') }}"
                         alt="{{ photo.title }}"/>
                {% endif %}
            </div>
            <div class="description">
                <div>
                    <span><strong>Description:</strong></span>
                </div>
                <span class="description">{{ photo.description }}</span>
            </div>
            <div class="time">
                <span class="posted_in"><strong>Added:</strong> {{ photo.getCreatedAt()|date('Y-m-d H:ia') }}</span>
                <span> | </span>
                <span class="updated_in"><strong>Updated:</strong> {{ photo.getUpdatedAt()|date('Y-m-d H:ia') }}</span>
            </div>
        </section>
    </div>

{% endblock %}
