<div class="col-sm-4 sidebar">
    <ul class="sidebar_banners">

        <li>
            <a href="#">
                <img src="{{ asset('bundles/framework/img/img-1.png') }}" alt="banner 1"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('bundles/framework/img/img-2.png') }}" alt="banner 2"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('bundles/framework/img/img-3.png') }}" alt="banner 3"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('bundles/framework/img/img-4.png') }}" alt="banner 4"/>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="{{ asset('bundles/framework/img/img-5.png') }}" alt="banner 5"/>
            </a>
        </li>
    </ul>
</div>