<div class="colum_right" id="aside1">
    <div class="colum_wrapper" id="right_colum_wrapper">
        <div class="colum_block user_friends">
            <div class="title_block">
                <strong>Recently Friends</strong>
            </div>
            <div class="items">
                <div class="item">
                    <div class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                        <div class="actions">
                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i><span>Add</span></a>
                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></a>
                        </div>
                    </div>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                        <div class="actions">
                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i><span>Add</span></a>
                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></a>
                        </div>
                    </div>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                        <div class="actions">
                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i><span>Add</span></a>
                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></a>
                        </div>
                    </div>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
            </div>  <!-- items -->
        </div>    <!-- Recently Friends -->
        <div class="colum_block user_friends">
            <div class="title_block">
                <a href="#">Invite firends</a>
                <strong>People you may know</strong>
            </div>
            <div class="items">
                <div class="item">
                    <div class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                        <div class="actions">
                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i><span>Add</span></a>
                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></a>
                        </div>
                    </div>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                        <div class="actions">
                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i><span>Add</span></a>
                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></a>
                        </div>
                    </div>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <div class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                        <div class="actions">
                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i><span>Add</span></a>
                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i><span>Remove</span></a>
                        </div>
                    </div>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
            </div>  <!-- items -->
        </div>    <!-- Recently Friends -->
        <div class="colum_block user_friends">
            <div class="title_block">
                <a href="#">All firends</a>
                <strong>Friends Online <span>(6)</span></strong>
            </div>
            <div class="items">
                <div class="item">
                    <a href="#" class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                    </a>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <a href="#" class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                    </a>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <a href="#" class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                    </a>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <a href="#" class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                    </a>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <a href="#" class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                    </a>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
                <div class="item">
                    <a href="#" class="img">
                        <img src="{{ asset ('bundles/framework/images/files/upload/tom_kruse.png') }}" alt=""/>
                    </a>
                    <a href="#" class="friend_name">Tom Cruise</a>
                </div>
            </div>  <!-- items -->
        </div>    <!-- user Friends -->
        <div class="partners_block">
            <a href="#">
                <img src="{{asset('bundles/framework/images/img-1.png')}}" alt=""/>
            </a>
            <a href="#">
                <img src="{{asset('bundles/framework/images/img-2.png')}}" alt=""/>
            </a>
            <a href="#">
                <img src="{{asset('bundles/framework/images/img-3.png')}}" alt=""/>
            </a>
            <a href="#">
                <img src="{{asset('bundles/framework/images/img-4.png')}}" alt=""/>
            </a>
        </div>

    </div>
</div><!-- colum_right -->