{% extends "::layout.html.twig" %}
{% block title %}Invite Friends To Connect{% endblock %}

{% block content %}
    <div class="col-sm-8 invite_friends members_page">
        <h2 class="section_title">Invite Friends To Connect</h2>

        <form action="#" method="post">
            <label for="search">Network</label>
            <input type="search" id="search" placeholder="Search">
            <input type="submit">
        </form>
        <div class="row network_grid">
            <div class="col-sm-6">
                <div class="profile-main-box">
                    <div class="profile_image">
                        <div class="image">
                            <img src="images/pro-img.png" alt='profile img'>
                        </div>
                    </div>
                    <div class="profile_buttons">
                        <div class="profile_info">
                            <h4 class="heading">First Name ⁄ Last Name</h4>
                            <ul>
                                <li class="position"><a href="#">Title ⁄ Position</a></li>
                            </ul>
                        </div>
                        <ul>
                            <li>
                                <a class="connect" href="#">
                                    <span>Connect</span>
                                </a>
                            </li>
                            <li>
                                <a class="unfriend" href="#">
                                    <span>Unfriend</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profile-main-box">
                    <div class="profile_image">
                        <div class="image">
                            <img src="images/pro-img.png" alt='profile img'>
                        </div>
                    </div>
                    <div class="profile_buttons">
                        <div class="profile_info">
                            <h4 class="heading">First Name ⁄ Last Name</h4>
                            <ul>
                                <li class="position"><a href="#">Title ⁄ Position</a></li>
                            </ul>
                        </div>
                        <ul>
                            <li>
                                <a class="connect" href="#">
                                    <span>Connect</span>
                                </a>
                            </li>
                            <li>
                                <a class="unfriend" href="#">
                                    <span>Unfriend</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="profile-main-box">
                    <div class="profile_image">
                        <div class="image">
                            <img src="images/pro-img.png" alt='profile img'>
                        </div>
                    </div>
                    <div class="profile_buttons">
                        <div class="profile_info">
                            <h4 class="heading">First Name ⁄ Last Name</h4>
                            <ul>
                                <li class="position"><a href="#">Title ⁄ Position</a></li>
                            </ul>
                        </div>
                        <ul>
                            <li>
                                <a class="connect" href="#">
                                    <span>Connect</span>
                                </a>
                            </li>
                            <li>
                                <a class="unfriend" href="#">
                                    <span>Unfriend</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profile-main-box">
                    <div class="profile_image">
                        <div class="image">
                            <img src="images/pro-img.png" alt='profile img'>
                        </div>
                    </div>
                    <div class="profile_buttons">
                        <div class="profile_info">
                            <h4 class="heading">First Name ⁄ Last Name</h4>
                            <ul>
                                <li class="position"><a href="#">Title ⁄ Position</a></li>
                            </ul>
                        </div>
                        <ul>
                            <li>
                                <a class="connect" href="#">
                                    <span>Connect</span>
                                </a>
                            </li>
                            <li>
                                <a class="unfriend" href="#">
                                    <span>Unfriend</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="profile-main-box">
                    <div class="profile_image">
                        <div class="image">
                            <img src="images/pro-img.png" alt='profile img'>
                        </div>
                    </div>
                    <div class="profile_buttons">
                        <div class="profile_info">
                            <h4 class="heading">First Name ⁄ Last Name</h4>
                            <ul>
                                <li class="position"><a href="#">Title ⁄ Position</a></li>
                            </ul>
                        </div>
                        <ul>
                            <li>
                                <a class="connect" href="#">
                                    <span>Connect</span>
                                </a>
                            </li>
                            <li>
                                <a class="unfriend" href="#">
                                    <span>Unfriend</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="profile-main-box">
                    <div class="profile_image">
                        <div class="image">
                            <img src="images/pro-img.png" alt='profile img'>
                        </div>
                    </div>
                    <div class="profile_buttons">
                        <div class="profile_info">
                            <h4 class="heading">First Name ⁄ Last Name</h4>
                            <ul>
                                <li class="position"><a href="#">Title ⁄ Position</a></li>
                            </ul>
                        </div>
                        <ul>
                            <li>
                                <a class="connect" href="#">
                                    <span>Connect</span>
                                </a>
                            </li>
                            <li>
                                <a class="unfriend" href="#">
                                    <span>Unfriend</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="use_your_emails">
            <span>Use Your Emails: </span>
            <a href="#"><img src="{{ asset('bundles/framework/img/outlook.jpg') }}" alt="outlook"></a>
            <a href="#"><img src="{{ asset('bundles/framework/img/outlook.jpg') }}" alt="Linkedin"></a>
            <a href="#"><img src="{{ asset('bundles/framework/img/outlook.jpg') }}" alt="Google+"></a>
            <a href="#"><img src="{{ asset('bundles/framework/img/outlook.jpg') }}" alt="outlook"></a>
            <a href="#"><img src="{{ asset('bundles/framework/img/outlook.jpg') }}" alt="Linkedin"></a>
        </div>

        <div class="import_your_friends">
            <span>Import Your Friends: </span>
            <a href="{{ path('contacts_show', {provider: 'facebook'}) }}"><img src="{{ asset('bundles/framework/img/fb.png') }}" alt="Facebook"></a>
            <a href="{{ path('contacts_show', {provider: 'google'}) }}"><img src="{{ asset('bundles/framework/img/gp.png') }}" alt="Google+"></a>
            <a href="{{ path('contacts_show', {provider: 'twitter'}) }}"><img src="{{ asset('bundles/framework/img/tw.png') }}" alt="Twitter"></a>
        </div>
    </div>
{% endblock %}

